.menu {
    background-color: rgb(26, 26, 26);
    font-size: 24px;
    width: 80%;
    padding: 1px 60px 25px;
    border-radius: 15px;
}

.menuImage {
    z-index: 9999;
    filter: brightness(75%);
    display: block;
}

.menu a {
    color: #FFF
}

.menu a:hover {
    color: #FFF
}

.footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;
}

.footer p {
    color: #FFF;
    font-size: small;
}
