.container {
  text-align: center;
  color: white;
  position: relative;
  font-family: "Shrikhand", sans-serif;
  font-size: 60px;
  text-shadow: 0px 2px 2px #4d4d4d;
  line-height: 65px;
}

@media only screen and (max-width: 1200px) {
  .container {
    font-size: 40px;
    line-height: 45px;
  }
}

.overlayText {
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 1200px) {
  .overlayText {
    top: 23%;
  }
}
