.container {
  max-width: 72rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  position: fixed;
  top: 200px;
  left: 50%;
}

.headerText {
  position: fixed;
  top: 210px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.logoText {
  position: fixed;
  top: 36px;
  right: 36px;
  border: ;
}

.backToHome {
  margin: 3rem 0 0;
}
