.container {
  max-width: 72rem;
  padding: 0 1rem;
  margin: 1rem auto 6rem;
}

.container img {
  border-radius: 5px;
}

.container video {
  border-radius: 5px;
}

.fixedText {
  position: fixed;
  text-align: center;
  width: 100%;
  top: 7vmax;
}

.fixedText h1 {
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
  line-height: 1.2;
  text-shadow: 0px 3px 3px black;
  font-family: Shrikhand, sans-serif;
}

.headerText {
  font-size: 5vmin;
}

.statsText {
  font-size: 4vmin;
}

.headerBar {
  z-index: 2;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 3px 3px 5px 0px rgb(0, 0, 0, 0.4);
  width: 100%;
  position: fixed;
  top: 0px;
}

.linkBar {
  z-index: 2;
  display: flex;
  position: fixed;
  left: 75px;
  top: 9px;
  gap: 15px;
}

.linkBar a {
  color: black;
}
