.tagListItems {
  display: flex;
  margin-top: 10px;
}

.tagBox {
  font-size: 14px;
  background-color: rgb(224, 224, 224);
  border-radius: 5px;
  margin-right: 10px;
  padding: 12px;
  font-weight: bold;
}

.tagBox:hover {
  background-color: rgb(204, 190, 184);
  cursor: pointer;
}

.tagSelector {
  font-size: 16px;
  padding: 5px 7px;
  border: 1px solid blue;
  border-radius: 4px;
  background-color: rgb(241, 241, 241);
}

.tagSelector:hover {
  cursor: pointer;
}

.flexGap {
  justify-content: center;
  display: flex;
  align-items: top;
  flex-wrap: wrap;
  gap: 15px;
}
