.postBox {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.post {
    width: 230px;
    height: 330px;
}

.postLink {
    color: black;
    font-size: small;
}

.tag {
    border: none;
    background: none;
    font-size: small;
    padding: 0%;
    color: #272727;
}

.tag a {
    padding-right: 7px;
    color: #272727;
}

.tag a:hover {
    padding-right: 7px;
    color: #272727;
}
