.postBox {
  justify-content: center;
  display: flex;
  align-items: top;
  flex-wrap: wrap;
  gap: 30px;
}

.postBox img {
  border-radius: 5px;
  box-shadow: 3px 3px 3px rgb(131, 131, 131);
  line-height: 0;
}

.pageNums {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}

.pageNums a {
  color: rgb(97, 97, 97);
  font-weight: 500;
  font-size: 25px;
  border-radius: 5px;
  height: 40px;
  width: 40px;
  text-align: center;
}

.pageNums a:hover {
  color: #000;
  text-decoration: underline;
  cursor: pointer;
  background-color: #d6dedf;
}

.highlighted {
  text-decoration: underline;
  color: #000;
  font-weight: bold;
}

.post {
  min-width: 300px;
  max-width: 300px;
  min-height: 450px;
}

.postLink {
  color: #000;
  font-size: 16px;
}

.tag {
  margin-top: 5px;
  border: none;
  background: none;
  font-size: small;
  padding: 0%;
  color: #000;
}

.tag a {
  padding-right: 7px;
  color: #000;
}

.tag a:hover {
  padding-right: 7px;
  color: #272727;
  background-color: #d6dedf;
  text-align: center;
}

.description {
  font-size: 16px;
}

.descriptionLight {
  font-size: 16px;
  color: white;
}

.description a {
  color: #000;
}

.description a:hover {
  color: #000;
  text-decoration: none;
}

.description a:visited {
  color: #000;
}
