.searchBox {
  height: 20px;
  z-index: 3;
  position: fixed;
  width: 230px;
  height: 33px;
  left: 64px;
  top: 9px;
  font-size: 16px;
  border-radius: 15px;
  opacity: 0.8;
  border: 0.25px solid rgb(230, 230, 230);
  padding-left: 38px;
}

.spyglass {
  z-index: 4;
  position: fixed;
  left: 73px;
  width: 16px;
  height: 16px;
  top: 18px;
}
