.searchBox {
    height: 20px;
    z-index: 9999;
    position: fixed;
    width: 150px;
    height: 33px;
    left: 64px;
    top: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 0.25px solid grey;
}
