.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
  padding-right: 10px;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.borderRounded {
  border-radius: 5px;
}

.padding1px {
  padding-top: 1px;
}

.headerDiv {
  position: relative;
  width: 100%;
}

.headerImage {
  filter: brightness(100%);
  object-fit: cover;
  width: 100%;
  height: 300px;
  z-index: -1;
}

.lightText {
  color: #666;
}

.centered {
  align-items: center;
}

.flexContainer {
  display: flex;
  gap: 1px 1px;
  padding-left: 50px;
  padding-right: 50px;
}
