.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.borderCircle {
  border-radius: 9999px;
}

.borderRounded {
  border-radius: 5px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.headerDiv {
  position: relative;
  width: 100%;
}

.headerImage {
  filter: brightness(100%);
  object-fit: cover;
  width: 100%;
  height: 300px;
  z-index: -1;
}

.postBox {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px;
  gap: 30px 50px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItemText{
 padding-left: 5x;
}

.lightText {
  color: #666;
}

.postLink {
  color: black;
  font-size: small;
}

.tag {
  border: none;
  background: none;
  font-size: small;
  padding: 0%;
  color: #272727;
}

.tag a {
  padding-right: 7px;
  color: #272727;
}

.tag a:hover {
  padding-right: 7px;
  color: #272727;
}
