.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
  padding-right: 10px;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.borderRounded {
  border-radius: 5px;
}

.padding1px {
  padding-top: 1px;
}

.headerDiv {
  position: relative;
  width: 100%;
}

.headerImage {
  filter: brightness(70%);
  object-fit: cover;
  width: 100%;
  z-index: -1;
}

.lightText {
  color: #666;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1px 1px;
}

.flexContainer {
  display: flex;
  gap: 1px 1px;
  padding-left: 50px;
  padding-right: 50px;
}

.flexWrapContainer {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 1px 1px;
  flex-wrap: wrap;
}

.flexGapContainer {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 25px 25px;
  flex-wrap: wrap;
}

.textBlock {
  max-width: 500px;
}

.justifyCenter {
  width: 1400px;
  justify-content: center;
  align-content: center;
  display: flex;
}

.centeredRow {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  gap: 15px 15px;
}

.bounceAnimation {
  animation-duration: 4s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-name: bounceAnimation;
  transform-origin: center bottom;
}

@keyframes bounceAnimation {
  0%,
  10%,
  26.5%,
  40%,
  to {
   animation-timing-function: cubic-bezier(.215,.61,.355,1);
   transform: translateZ(0)
  }
  20%,
  21.5% {
   animation-timing-function: cubic-bezier(.755,.05,.855,.06);
   transform: translate3d(0,-10px,0)
  }
  35% {
   animation-timing-function: cubic-bezier(.755,.05,.855,.06);
   transform: translate3d(0,-10px,0)
  }
}

@keyframes shakeAnimation {
  0%,
  to {
    transform: translateZ(0)
  }
  15%,
  25%,
  35%,
  45%,
  5% {
    transform: translate3d(-5px,0,0)
  }
  10%,
  20%,
  30%,
  40% {
    transform: translate3d(5px,0,0)
  }
  50% {
    transform: translateZ(0)
  }
}

.shakeAnimation {
  animation-duration: 4s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-name: shakeAnimation;
  transform-origin: center
}

.contactForm {
  background-color: rgba(211, 238, 237, .7);
  border-radius: 1px;
  max-width: 1200px;
  font-family: Arial, Helvetica, sans-serif;
}

.contactForm button {
  font-size: 13px;
  border-radius: 2px;
  border: none;
  color: white;
  height: 30px;
  max-width: 120px;
}

.contactForm input {
  max-width: 380px;
  height: 30px;
  min-width: 250px;
  border: 2px;
  border-color: #666;
}

.contactForm textarea {
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  min-width: 250px;
  height: 220px;
  border: 2px;
  border-color: #666;
}

.contactForm label {
  font-size: small;
  font-weight: 500;
}

.contactForm button:hover {
  cursor: pointer;
}

.resetButton {
  background-color: rgb(94, 94, 94);
}

.submitButton {
  margin-right: 10px;
  margin-top: 10px;
  background-color: rgb(32, 32, 32);
}

.errorMessage {
  padding-top: 5px;
  color: rgb(197, 4, 4);
  font-size: small;
}

.formHeader {
  padding: 1vmax;
  font-size: 16px;
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
}

.formLoader {
  margin-right: 10px;
  padding-top: 10px;
}

.floatyText {
  font-family: "Shrikhand",sans-serif;
  text-shadow: 0px 2px 2px #2275ac;
  color: rgb(255, 251, 242);
  text-align: center;
}

.coverContainer {
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  border-radius: 5px;
}
